<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Melodic-密码重置</title>
    <link rel="stylesheet" type="text/css" href="https://www.wereadthinker.cn/stylesheet/password-reset-style.css">
    <link rel="stylesheet" type="text/css" href="https://www.wereadthinker.cn/stylesheet/common.css">
</head>
<body>
    <div class="info-box"></div>

    <div class="container flex-container-column flex-contaner-center-V">

        <div class="container-hd flex-container-row flex-container-center-H">
            <div class="flex-container-row flex-container-center-H flex-auto">
                <div class="flex-item header-logo-text">Melodic</div>
            </div>
            <div class="container-hd-right flex-container-row flex-container-end-V flex-container-center-H flex-auto">
                <div class="user-email flex-item" th:text="${email}"></div>
                <div class="flex-container-column button-container" id="headerMenu">
                    <div class="button-line line-1"></div>
                    <div class="button-line line-2"></div>
                </div>
            </div>
        </div>

        <div class="container-bd flex-container-column">
            <div class="flex-container-column flex-container-center-V reset-box-container">
                <div class="flex-container-column flex-container-center-V-H reset-box-hd">
                    <img class="header-logo flex-item" src="https://www.wereadthinker.cn/images/logo-w.png">
                </div>
                <div class="flex-container-column flex-container-center-H reset-box-bd">
                    <div class="flex-item hd-sub-info">Tps: 密码长度为6-16位，必须且只能包含字母和数字</div>
                    <h1 class="complete-text complete-text-hidden"></h1>
                    <div class="container-bd-form input-info input-info_1 flex-container-row flex-container-center-H">
                        <div class="input-info-hd flex-item">
                            <img class="input-hd-img input-hd-img_1" src="https://www.wereadthinker.cn/images/user_password.png">
                        </div>
                        <div class="input-info-bd flex-container-row flex-container-center-H flex-auto">
                            <input placeholder="输入新密码" type="password" class="flex-item input-info_input-box input-info_input-box_1 flex-auto" maxlength="16" minlength="6">
                        </div>
                        <div class="input-info-ft flex-item"></div>
                    </div>
                    <div class="container-bd-form input-info input-info_2 flex-container-row flex-container-center-H">
                        <div class="input-info-hd flex-item">
                            <img class="input-hd-img input-hd-img_2" src="https://www.wereadthinker.cn/images/user_password.png">
                        </div>
                        <div class="input-info-bd flex-item flex-auto">
                            <input placeholder="再次输入新密码" type="password" class="flex-item flex-auto input-info_input-box input-info_input-box_2" maxlength="16" minlength="6">
                        </div>
                        <div class="input-info-ft flex-item"></div>
                    </div>
                    <div class="container-bd-form input-button flex-container-column flex-container-center-V-H" id="complete_button">完成</div>
                </div>
                <div class="flex-item reset-box-ft"></div>
            </div>
        </div>
        <div class="container-ft flex-item"></div>
    </div>
    <div class="footer-info">copyright © 2017-2018 Melodic Akatsiku</div>
    <input type="hidden" style="display: none" id="authorization">
</body>
<script rel="script" type="application/javascript" src="https://www.wereadthinker.cn/javascript/jquery-3.3.1.min.js"></script>
<script rel="script" type="application/javascript"  src="https://www.wereadthinker.cn/javascript/password-reset.js"></script>
<script th:inline="javascript">
    $(document).ready(
        $("#authorization").val([[${authorization}]])
    );
</script>
</html>