html,body{
    height: 100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.info-box{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 500;
    text-align: center;
    padding: 10px;
    color: #fda085;
    width: 300px;
    background-color: rgba(255,255,255,0.6);
    height: 20px;
}
.complete-text{
    padding-top:10px;
}
.complete-text-hidden{
    display: none;
    transition: .3s;
}
.complete-text-show{
    display: flex;
    transition: .3s;
}
.container-complete{
    transform: translateY(80px);
    opacity: 0;
    display: none;
    transition: .3s;
}
.container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    transition: .3s;
}
.container-hd{
    height: 80px;
    color: #fff;
    padding: 0 30px;
}
.header-logo-text{
    font-size: 30px;
    font-family: Futura;
}
.header-logo-container{
    padding-right: 12px;
 }
.header-logo{
    width: 150px;
    height: 150px;
}
.user-email{
    padding-right: 30px;
}
.container-hd-right{
    height: 100%;
}
.button-container{
    position: relative;
    cursor: pointer;
}
.button-line{
    margin: 5px 0;
    width: 35px;
    height: 4px;
    border-radius: 1px;
    background-color: #fff;
    transition: .5s;
}
.line-2-active{
    position: absolute;
    z-index: 100;
    transform-origin: center center;
    transform: rotate(45deg);
    transition: .5s;
}
.line-1-active{
    transform-origin: center center;
    transform: rotate(-45deg);
    transition: .5s;
}

/*form*/
.reset-box-container{
    padding: 80px 60px;
    color: #fff;
}
.reset-box-hd{
    padding-top: 80px;
}
.hd-sub-info{
    color: #f7f7f7;
}
.input-info{
    width: 500px;
    margin: 20px 0;
    height: 80px;
    color: #fff;
    border-radius: 40px;
    background-color: rgba(255,255,255,0.2);
    transition: .3s;
}
.input-info-focus{
    background-color: rgba(255,255,255,0.9);
    color: #777;
    transition: .3s;
}
.input-info_input-box{
    color: #fff;
}
.input-info_input-box-focus{
    color: #777;
}
.input-info-hd{
    padding-left: 30px;
}
.input-hd-img{
    width: 35px;
    height: 35px;
}
.input-info-bd > input{
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 13px;
    background:none;
    padding-left: 30px;
    border: none;
    outline: none;
    height: 80px;
}

.input-info-bd > input::-webkit-input-placeholder{
    letter-spacing: normal;
    color: #fff;
    font-weight: normal;
    opacity: 0.5;
}

.input-button {
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    width: 500px;
    margin: 20px 0;
    height: 80px;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: .3s;
}

.input-button-error{
    transition: .3s;
    color: #fff;
    background-color: #fda085;
    -webkit-animation: icon-bounce 0.5s alternate;
    -moz-animation: icon-bounce 0.5s alternate;
    -o-animation: icon-bounce 0.5s alternate;
    animation: icon-bounce 0.5s alternate;
}
.input-button:hover{
    color: #777;
    background-color: rgba(255, 255, 255, 0.9);
    transition: .3s;
}

.reset-box-bd{
    padding-top: 30px;
}

/*footer*/
.footer-info{
    font-size: 15px;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
